<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.graduationprojectspringboot.mapper.SalaryMapper">
    <select id="getSalaryByDate" resultType="java.util.HashMap">
        SELECT salaryTime,SUM(money) as money FROM salary GROUP BY salaryTime
    </select>
</mapper>